{% extends 'main.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles/doctor_dashboard.css' %}">
<div class="container">

  <aside class="sidebar">
    <h2>ClinicOnTheNet</h2>
    <nav class="nav-links">
      <a href="{% url 'doctor_dashboard' %}" class="active">🏠 Dashboard</a>
      <a href="{% url 'doctor_appointments' %}">📅 Appointments</a>
      <a href="{% url 'set_availability' %}">🕒 Availability</a>
      <a href="{% url 'doctor_settings' %}">⚙️ Settings</a>
      <a href="{% url 'logout' %}">🚪 Logout</a>
    </nav>
  </aside>

  <main class="main-content">
    <header>
      <h1>Welcome Dr. {{ request.user.name }}</h1>
      <p class="subtitle">Here's a quick overview of your schedule.</p>
    </header>

    <section class="cards">
      <div class="card blue">
        <h3>Today's Appointments</h3>
        <p>5</p>
      </div>
      <div class="card green">
        <h3>Upcoming Appointments</h3>
        <p>12</p>
      </div>
      <div class="card orange">
        <h3>Total Patients</h3>
        <p>38</p>
      </div>
    </section>

    <section class="appointments">
      <h2>Upcoming Appointments</h2>
      <table>
          <thead>
              <tr>
                  <th>Patients</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Reasons</th>
              </tr>
          </thead>
          <tbody>
              {% for appointment in appointments %}
              <tr>
                  <td>{{  appointment.patient.name }}</td>
                  <td>{{ appointment.appointment_time|time:"g:i A" }}</td>
                    <td>{{ appointment.appointment_date|date:"F j, Y" }}</td>
                  <td>{{ appointment.reason }}</td>
              </tr>
              {% empty %}
              <tr>
                  <td colspan="4">You have no upcoming appointments.</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </section>
  </main>
</div>
{% endblock content %}