{% extends 'main.html' %}

{% block content %}
<div class="container">
    <h1>My Schedule</h1>
    <p>Here is a list of your scheduled appointments.</p>

    <ul>
    {% for appointment in appointments %}
        <li>
            Appointment with {{ appointment.patient.name }} on 
            {{ appointment.appointment_date }} at {{ appointment.appointment_time }}
            (Reason: {{ appointment.reason }})
        </li>
    {% empty %}
        <li>You have no appointments scheduled.</li>
    {% endfor %}
    </ul>
</div>
{% endblock content %}