{% extends 'main.html' %}

{% block content %}
<div class="container">
    <h1>My Appointments</h1>
    <p>Here is a list of your upcoming and past appointments.</p>
    
    <ul>
    {% for appointment in appointments %}
        <li>
            Appointment with Dr. {{ appointment.doctor.name }} on 
            {{ appointment.appointment_date }} at {{ appointment.appointment_time }}
            (Reason: {{ appointment.reason }})
        </li>
    {% empty %}
        <li>You have no appointments.</li>
    {% endfor %}
    </ul>
</div>
{% endblock content %}